/************* Global Styles *************/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: Tahoma, Geneva, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.button-add-book {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.button-add-book:hover {
  background-color: #777676;
  color: white;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.button-submit {
  width: 100%;
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #d63a2f;
}
/************* header *************/
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #663601;
}
.menu-left {
    float: left;
}
.menu-right {
    float: right;
}
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #442400;
}
#logOut input {
    float: right;
    display: block;
    color: white;
    text-align: center;
    background-color: #663601;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}
#logOut input:hover {
    background-color: #442400;
}
#logInOutMenu {
  float: right;
}
/************* Home Page *************/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-container>img {
  text-align: center;
}

.flex-container>img {
  box-shadow: 0 10px 6px -6px #777;
}
/* ************ Books ************ */
@media only screen and (max-width: 599.5px) { /* for-phone-only */
  .flex-container>img {
    margin: 10px 10px;
  }
  #elon-musk {
      width: calc(100 * .20 * 6px);
      height: calc(100 * .20 * 9px);
  }
  #the-hard-thing-about-hard-things {
    width: calc(100 * .20 * 6px);
    height: calc(100 * .20 * 9px);
  }
  #business-model-canvas {
    width: calc(100 * .20 * 9.5px);
    height: calc(100 * .20 * 7.3px);
  }
  #zero-to-one {
    width: calc(100 * .20 * 5.7px);
    height: calc(100 * .20 * 8.5px);
  }
  #the-lean-startup {
    width: calc(100 * .20 * 5.8px);
    height: calc(100 * .20 * 8.5px);
  }
  #the-everything-store {
    width: calc(100 * .20 * 5.5px);
    height: calc(100 * .20 * 8.2px);
  }
  #pour-your-heart-into-it {
    width: calc(100 * .20 * 6px);
    height: calc(100 * .20 * 9.2px);      
  }
  #how-to-win-friends-and-influence-people {
    width: calc(100 * .20 * 5.3px);
    height: calc(100 * .20 * 8.2px);      
  }
  #think-grow-rich {
    width: calc(100 * .20 * 6px);
    height: calc(100 * .20 * 9.2px);      
  }
  #the-7-habits-of-highly-effective-people {
    width: calc(100 * .20 * 5.5px);
    height: calc(100 * .20 * 8.4px);      
  }
  #the-power-of-habit {
    width: calc(100 * .20 * 5.2px);
    height: calc(100 * .20  * 8px);      
  }
  #the-snowball {
  width: calc(100 * .20 * 5.2px);
  height: calc(100 * .20 * 8px);
  }
  #steve-jobs {
    width: calc(100 * .20 * 6px);
    height: calc(100 * .20 * 9.2px);
  }
  #the-innovators {
    width: calc(100 * .20 * 6.1px);
    height: calc(100 * .20 * 9.2px);
  }
  #outliers {
    width: calc(100 * .20 * 5.6px);
    height: calc(100 * .20 * 8.2px);
  }
}   
@media only screen and (min-width: 600px) { /* for-tablet-portrait-up */
  .flex-container>img {
    margin: 15px 15px;
  }      
  #elon-musk {
      width: calc(100 * .25 * 6px);
      height: calc(100 * .25 * 9px);
  }
  #the-hard-thing-about-hard-things {
    width: calc(100 * .25 * 6px);
    height: calc(100 * .25 * 9px);
  }
  #business-model-canvas {
    width: calc(100 * .25 * 9.5px);
    height: calc(100 * .25 * 7.3px);
  }
  #zero-to-one {
    width: calc(100 * .25 * 5.7px);
    height: calc(100 * .25 * 8.5px);
  }
  #the-lean-startup {
    width: calc(100 * .25 * 5.8px);
    height: calc(100 * .25 * 8.5px);
  }
  #the-everything-store {
    width: calc(100 * .25 * 5.5px);
    height: calc(100 * .25 * 8.2px);
  }
  #pour-your-heart-into-it {
    width: calc(100 * .25 * 6px);
    height: calc(100 * .25 * 9.2px);      
  }
  #how-to-win-friends-and-influence-people {
    width: calc(100 * .25 * 5.3px);
    height: calc(100 * .25 * 8.2px);      
  }
  #think-grow-rich {
    width: calc(100 * .25 * 6px);
    height: calc(100 * .25 * 9.2px);      
  }
  #the-7-habits-of-highly-effective-people {
    width: calc(100 * .25 * 5.5px);
    height: calc(100 * .25 * 8.4px);      
  }
  #the-power-of-habit {
    width: calc(100 * .25 * 5.2px);
    height: calc(100 * .25  * 8px);      
  }
  #the-snowball {
  width: calc(100 * .25 * 5.2px);
  height: calc(100 * .25 * 8px);
  }
  #steve-jobs {
    width: calc(100 * .25 * 6px);
    height: calc(100 * .25 * 9.2px);
  }
  #the-innovators {
    width: calc(100 * .25 * 6.1px);
    height: calc(100 * .25 * 9.2px);
  }
  #outliers {
    width: calc(100 * .25 * 5.6px);
    height: calc(100 * .25 * 8.2px);
  }
}    
@media only screen and (min-width: 900px) { /* for-tablet-landscape-up */
  .flex-container>img {
    margin: 20px 20px;
  }
  #elon-musk {
      width: calc(100 * .30 * 6px);
      height: calc(100 * .30 * 9px);
  }
  #the-hard-thing-about-hard-things {
    width: calc(100 * .30 * 6px);
    height: calc(100 * .30 * 9px);
  }
  #business-model-canvas {
    width: calc(100 * .30 * 9.5px);
    height: calc(100 * .30 * 7.3px);
  }
  #zero-to-one {
    width: calc(100 * .30 * 5.7px);
    height: calc(100 * .30 * 8.5px);
  }
  #the-lean-startup {
    width: calc(100 * .30 * 5.8px);
    height: calc(100 * .30 * 8.5px);
  }
  #the-everything-store {
    width: calc(100 * .30 * 5.5px);
    height: calc(100 * .30 * 8.2px);
  }
  #pour-your-heart-into-it {
    width: calc(100 * .30 * 6px);
    height: calc(100 * .30 * 9.2px);      
  }
  #how-to-win-friends-and-influence-people {
    width: calc(100 * .30 * 5.3px);
    height: calc(100 * .30 * 8.2px);      
  }
  #think-grow-rich {
    width: calc(100 * .30 * 6px);
    height: calc(100 * .30 * 9.2px);      
  }
  #the-7-habits-of-highly-effective-people {
    width: calc(100 * .30 * 5.5px);
    height: calc(100 * .30 * 8.4px);      
  }
  #the-power-of-habit {
    width: calc(100 * .30 * 5.2px);
    height: calc(100 * .30  * 8px);      
  }
  #the-snowball {
  width: calc(100 * .30 * 5.2px);
  height: calc(100 * .30 * 8px);
  }
  #steve-jobs {
    width: calc(100 * .30 * 6px);
    height: calc(100 * .30 * 9.2px);
  }
  #the-innovators {
    width: calc(100 * .30 * 6.1px);
    height: calc(100 * .30 * 9.2px);
  }
  #outliers {
    width: calc(100 * .30 * 5.6px);
    height: calc(100 * .30 * 8.2px);
  }
}
@media only screen and (min-width: 1200px) { /* for-desktop-up */
  .flex-container>img {
    margin: 30px 30px;
  }
  #elon-musk {
      width: calc(100 * .35 * 6px);
      height: calc(100 * .35 * 9px);
  }
  #the-hard-thing-about-hard-things {
    width: calc(100 * .30 * 6px);
    height: calc(100 * .30 * 9px);
  }
  #business-model-canvas {
    width: calc(100 * .35 * 9.5px);
    height: calc(100 * .35 * 7.3px);
  }
  #zero-to-one {
    width: calc(100 * .35 * 5.7px);
    height: calc(100 * .35 * 8.5px);
  }
  #the-lean-startup {
    width: calc(100 * .35 * 5.8px);
    height: calc(100 * .35 * 8.5px);
  }
  #the-everything-store {
    width: calc(100 * .35 * 5.5px);
    height: calc(100 * .35 * 8.2px);
  }
  #pour-your-heart-into-it {
    width: calc(100 * .35 * 6px);
    height: calc(100 * .35 * 9.2px);      
  }
  #how-to-win-friends-and-influence-people {
    width: calc(100 * .35 * 5.3px);
    height: calc(100 * .35 * 8.2px);      
  }
  #think-grow-rich {
    width: calc(100 * .35 * 6px);
    height: calc(100 * .35 * 9.2px);      
  }
  #the-7-habits-of-highly-effective-people {
    width: calc(100 * .35 * 5.5px);
    height: calc(100 * .35 * 8.4px);      
  }
  #the-power-of-habit {
    width: calc(100 * .35 * 5.2px);
    height: calc(100 * .35  * 8px);      
  }
  #the-snowball {
  width: calc(100 * .35 * 5.2px);
  height: calc(100 * .35 * 8px);
  }
  #steve-jobs {
    width: calc(100 * .35 * 6px);
    height: calc(100 * .35 * 9.2px);
  }
  #the-innovators {
    width: calc(100 * .35 * 6.1px);
    height: calc(100 * .35 * 9.2px);
  }
  #outliers {
    width: calc(100 * .35 * 5.6px);
    height: calc(100 * .35 * 8.2px);
  }
}
@media only screen and (min-width: 1800px) { /* for-big-desktop-up */
  .flex-container>img {
    margin: 40px 40px;
  }
  #elon-musk {
      width: calc(100 * .40 * 6px);
      height: calc(100 * .40 * 9px);
  }
  #the-hard-thing-about-hard-things {
    width: calc(100 * .40 * 6px);
    height: calc(100 * .30 * 9px);
  }
  #business-model-canvas {
    width: calc(100 * .40 * 9.5px);
    height: calc(100 * .40 * 7.3px);
  }
  #zero-to-one {
    width: calc(100 * .40 * 5.7px);
    height: calc(100 * .40 * 8.5px);
  }
  #the-lean-startup {
    width: calc(100 * .40 * 5.8px);
    height: calc(100 * .40 * 8.5px);
  }
  #the-everything-store {
    width: calc(100 * .40 * 5.5px);
    height: calc(100 * .40 * 8.2px);
  }
  #pour-your-heart-into-it {
    width: calc(100 * .40 * 6px);
    height: calc(100 * .40 * 9.2px);      
  }
  #how-to-win-friends-and-influence-people {
    width: calc(100 * .40 * 5.3px);
    height: calc(100 * .40 * 8.2px);      
  }
  #think-grow-rich {
    width: calc(100 * .40 * 6px);
    height: calc(100 * .40 * 9.2px);      
  }
  #the-7-habits-of-highly-effective-people {
    width: calc(100 * .40 * 5.5px);
    height: calc(100 * .40 * 8.4px);      
  }
  #the-power-of-habit {
    width: calc(100 * .40 * 5.2px);
    height: calc(100 * .40  * 8px);      
  }
  #the-snowball {
  width: calc(100 * .40 * 5.2px);
  height: calc(100 * .40 * 8px);
  }
  #steve-jobs {
    width: calc(100 * .40 * 6px);
    height: calc(100 * .40 * 9.2px);
  }
  #the-innovators {
    width: calc(100 * .40 * 6.1px);
    height: calc(100 * .40 * 9.2px);
  }
  #outliers {
    width: calc(100 * .40 * 5.6px);
    height: calc(100 * .40 * 8.2px);
  }
}



/*    #elon-musk {
    width: calc(100 * .33 * 6px);
    height: calc(100 * .33 * 9px);
}*/
/*    #the-hard-thing-about-hard-things {
  width: calc(100 * .33 * 6px);
  height: calc(100 * .33 * 9px);
}
#business-model-canvas {
  width: calc(100 * .33 * 9.5px);
  height: calc(100 * .33 * 7.3px);
}
#zero-to-one {
  width: calc(100 * .33 * 5.7px);
  height: calc(100 * .33 * 8.5px);
}
#the-lean-startup {
  width: calc(100 * .33 * 5.8px);
  height: calc(100 * .33 * 8.5px);
}
#the-everything-store {
  width: calc(100 * .33 * 5.5px);
  height: calc(100 * .33 * 8.2px);
}
#pour-your-heart-into-it {
  width: calc(100 * .33 * 6px);
  height: calc(100 * .33 * 9.2px);      
}
#how-to-win-friends-and-influence-people {
  width: calc(100 * .33 * 5.3px);
  height: calc(100 * .33 * 8.2px);      
}
#think-grow-rich {
  width: calc(100 * .33 * 6px);
  height: calc(100 * .33 * 9.2px);      
}
#the-7-habits-of-highly-effective-people {
  width: calc(100 * .33 * 5.5px);
  height: calc(100 * .33 * 8.4px);      
}
#the-power-of-habit {
  width: calc(100 * .33 * 5.2px);
  height: calc(100 * .33 * 8px);      
}*/
/*    #the-snowball {
  width: calc(100 * .33 * 5.2px);
  height: calc(100 * .33 * 8px);
}
#steve-jobs {
  width: calc(100 * .33 * 6px);
  height: calc(100 * .33 * 9.2px);
}
#the-innovators {
  width: calc(100 * .33 * 6.1px);
  height: calc(100 * .33 * 9.2px);
}
#outliers {
  width: calc(100 * .33 * 5.6px);
  height: calc(100 * .33 * 8.2px);
}*/

/************* Search Page *************/
#searchBookQuery {
  width: 400px;
  float: left;
}

#searchBookButton {
  width: 100px;
  float: left;
}
#search-table-container {
  overflow-x: auto;
  max-width: 900px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th, td {
  text-align: left;
  vertical-align: top;
  padding: 8px;
}
tr {
  border-top: 1px solid Tan; 
}
tr td:nth-child(1) {
  max-width: 150px;
}
tr td:nth-child(2) {
  max-width: 400px;
}
tr td:nth-child(3) {
  max-width: 100px;
}
/************* Book wall page *************/
.book-wall-book {
  cursor: pointer;
}

/************* Modal *************/
.modal-header {
  background-color: #663601;
  color: white;
}
.text-link {
  text-decoration: underline;
}
#addSummaryForm {
  display: none;
}
/************* Snackbar *************/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
